{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur l'évaluation de Symfony</h1>
    <h4>Nom : CONTE Alexandre</h4>
    <h4>Classe: 3BCI à la Nfactory School</h4>
    <h4>date: 19 février 2021</h4>
{% endblock %}