{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias at, corporis debitis deleniti, doloremque explicabo fugiat iste labore modi natus necessitatibus quibusdam quod repellendus rerum sint sunt tempora. Molestiae.</h1>
{% endblock %}